/*  Ensure Flexbox and cssgrid can shrink in size */
* {
  min-height: 0;
  min-width: 0;
}

/*
 * Fonts are loaded like any other resource in the web page. 
 *
 * You will need to replace the '/fonts/' part of the URL with your own server paths,
 * if different.
 *
 * If the text does not show immediately, the chances are that the font has not loaded
 * into the browser page by the time the chart is created: using a font loader will
 * guarantee KeyLines has the resources it needs.
 */
@font-face {
  font-family: 'Muli';
  src: local('Muli-Regular.ttf'), url('../fonts/Muli/Muli-Regular.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: bold;
  src: local('Muli-Bold.ttf'), url('../fonts/Muli/Muli-Bold.ttf');
}

@font-face {
  font-family: 'Muli';
  font-style: italic;
  font-weight: normal;
  src: local('Muli-Italic.ttf'), url('../fonts/Muli/Muli-Italic.ttf');
}

@font-face {
  font-family: 'Raleway';
  src: local('Raleway-Regular.ttf'), url('../fonts/Raleway/Raleway-Regular.ttf');
}
