.main {
  border: none !important;
  margin-bottom: 0 !important;
  min-width: 0;
  height: auto !important;
  // color: inherit !important;
  // &::placeholder {
  //   color: inherit !important;
  // }
}