.main {
  display: flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top: 2px;
  }

  .label {
    font-size: 14px;
  }

  input {
    padding: 4px 0;
    font-size: 14px;
    min-width: 0;
    border: none;
    background: none;
    flex: 1;
    &:focus {
      outline: none;
    }
  }
}
