.form-wrapper, .form {
  > *:not(:first-child) {
    margin-top: 15px;
  }
}

.input {
  color: #9da6ab;
  
  input {
    color: #4d4d4d;
    font-size: 16px;
    box-shadow: 0 1px #cdcdce;
  }
}

.actions {
  display: flex;
  > *:not(:first-child) {
    margin-left: 10px;
  }
}

.error {
  color: red;
}

.upload-image {
  background: #FFC08A;
  cursor: pointer;
  border-radius: 5%;
  width: 213px;
  height: 213px !important;
  input {
    display: none;
  }
}