.root {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  min-height: 100vh;
}

.sidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 224px;
  height: 100vh;
}

.container {
  overflow: auto;
  flex: 1;
  margin-left: 224px;
  background-color: #eff1f4;
}

.main {
  background: #fff; /* white */
  width: 100%;
  min-height: calc(100% - 80px);
  height: calc(100% - 80px);
  box-sizing: border-box;
}

.bottombar {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100vw;
  height: 73px;
  border-top: 1px solid #f0f0f0;
  display: none;
}

@media only screen and (max-width: 880px) {

  .main {
    min-height: calc(100vh - 220px);
    height: calc(100vh - 220px);
  }

  .sidebar {
    display: none;
  }

  .bottombar {
    display: block;
    z-index: 300;
  }

  .container {
    margin-left: 0px;
  }
}