@import "./defaults.scss";

.main {
  cursor: pointer;
  border: none;
  outline: none;

  &.default {
    color: white;
    background: $default-color;
  }

  &:not(.default) {
    color: black;
    background: $non-default-color;
  }

  padding: 10px 25px;
  border-radius: 5px;

  &.default {
    &:focus {
      background: darken($default-color, 14%);
    }

    &:hover {
      background: darken($default-color, 14%);
    }
  }

  &:not(.default) {
    &:focus {
      background: darken($non-default-color, 14%);
    }

    &:hover {
      color: white;
      background: darken($non-default-color, 14%);
    }
  }
}

.main .active {
  background: darken($default-color, 50%);
}

.selectable {
  transition: background 0.5s;

  &.main {
    &.default {
      &:focus {
        background: darken($default-color, 50%);
      }

      &:hover {
        background: darken($default-color, 50%);
      }
    }

    &:not(.default) {
      &:focus {
        background: darken($non-default-color, 50%);
      }

      &:hover {
        color: white;
        background: darken($non-default-color, 50%);
      }
    }
  }
}