@import "./defaults.scss";

.main {
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  background: $default-color;
  padding: 10px;
  border-radius: 5px;

  &:focus {
    background: $default-color;
  }

  &:hover {
    background: darken($default-color, 14%);
  }
}

.main.active {
  background: darken($default-color, 14%);
}

.selectable {
  transition: background 0.5s;
}