.main {
  cursor: pointer;
  border: none;
  outline: none;
  background: #f2f3f6;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.5s;
}

.main.active {
  color: white;
  background: #7fcdc1;
}
