.root {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: -7px;
  justify-content: flex-end;
  align-content: flex-end;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  * {
    font-size: 13px;
  }

  .dropdown {
    margin-left: 10px;
  }
}

.mapButtonGroup {
  margin-left: 10px;
}

.mapButtonGroup .btn {
  margin-bottom: 5px;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: "transparent" !important;
  color: #6c757d !important;
}

canvas {
  user-select: none;
}

.require {
  color: #f00;
}

@media only screen and (max-width: 430px) {
  .root {
    * {
      font-size: 10px;
    }
  }
}
