.developer-name {
  color: #000 !important;
}

h1 {
  font-size: 1.75em !important;
}

.navbar {
  padding: 0 10px 0 0 !important;
  height: 60px !important;
}

@media screen and (max-width: 767px) {
  .navbar {
    padding: 0 10px 0 20px !important;
  }
}

.projectai-logo {
  background: #f6f6f6 !important;
}

/*----Login Overrid ----------------------------------*/

/*----------------------------------------------------*/
