/* top stage progress bar */
.stage-progress-container {
  padding-top: 10px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
.survey-previous-link {
  margin-right: 20px;
}

.stage-progress-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-flow: row wrap;
  margin-bottom: 2px;
}

.previous-link {
  margin-right: 5px;  
}

.survey-category {
  font-size: 0.8em;
}
.survey-category * {
  margin-right: 5px;
}

.menu-icon {
  color: #922c88;
  margin-bottom: 5px;
}

.stage-progress ul {
  list-style-type: none;
  margin-bottom: 0px !important;
}

.stage-progress ul li {
  display: inline-block;
  text-indent: -9999px;
  padding: 10px;
}

.stage-progress ul li a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #ddd;
  border: 1px solid #ddd;
}

.stage-progress ul li a.done {
  background: #2F3F92;
  border: 1px solid #2F3F92;
}

.stage-progress ul li a.active {
  background: #89CBC1;
  border: 1px solid #89CBC1;
}

.stage-progress-circle {
  width: 50px !important;
  height: 50px !important;
}

/***************************************************/

.mt-xs {
  margin-top: 10px;
}


.mt-s {
  margin-top: 20px;
}

.mt-md {
  margin-top: 30px;
}

.mt-h {
  margin-top: 60px;
}

.mt-hl {
  margin-top: 80px;
}

.pulse {
  color: #3b4658;
  font-size: 17px;
  font-weight: bold;
}
.word-separator {
  display: inline-block;
  color: #515a6a;
  font-size: 23px;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
}
.project-name {
  color: #297fd5;
  font-size: 17px;
}

video {
  width: 100% !important;
  height: auto !important;
}


/* Component */
.anwser-select2 {
  display: flex;
  flex-flow: row wrap;
}
.anwser-select2 .select2-btn {
  flex-grow: 1;
}

.anwser-select2 .select2-btn,
.anwser-select-n .select2-btn {
  display: inline-block !important;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px;
}

.anwser-select2 .select2-btn.active,
.anwser-select-n .select2-btn.active {
  display: inline-block !important;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #fff;
  background: #2F3F92;
}

.anwser-select-n .select2-btn {
  width: 100% !important;
}

.btn-continue {
  line-height: 1.2 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 45px;
}

.btn-second {
  line-height: 1 !important;
  background: #2F3F92;
}

.no-results {
  background: #000;
  color: #fff;
  font-size: 13px;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
  padding: 20px;
}

.no-results-header {
    display: block;
    margin-bottom: 20px;
    opacity: .5;
}

.smart-list-section {
  background: #000;
}

.smart-list-section .header {
  background: #222;
  color: #fff;
  padding: 15px 10px;
  text-align: right;
}

.smart-list-section .header a {
  color: #aaa;
}

.smart-list-section .body {
  color: #999;
  padding-top: 10px;
  padding-bottom: 5px;
  cursor: default;
}

.smart-list-section .body .row,
.smart-list-section .body .col {
  margin: 0px !important;
}

.smart-row {
  padding-left: 15px;
}

.smart-col, .smart-col2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.smart-col:hover {
  background: #2F3F92;
}

.row-container:hover {
  background: #44539D;
  color: #fff;
}

.coming-box {
  text-align: center;
}
.coming-box span{
  display: inline-block;
  width: 80%;
  font-size: 3.2em;
  line-height: 2em;
  text-align: center;
  border: 2px solid #222;
  padding: 20px;
}

/* Add Comment */
.comment-button {
  position: absolute;
  right: 15px;
  top: 0px;
}
/*-----Override Slider CSS ------------------------------------------------*/
.rc-slider-handle { 
  background: #fff url(/assets/img/survey/slider_handler.png) center center no-repeat !important;
  width: 30px !important;
  height: 30px !important;
  margin-top: -10px !important;
  cursor: pointer !important;
}
.rc-slider-track, .rc-slider-rail, .rc-slider-step {
  height: 10px !important;
  background: #109558;
  background: -moz-linear-gradient(left, #109558 0%, #999999 50%, #999999 50%, #999999 50%, #e81919 100%);
  background: -webkit-linear-gradient(left, #109558 0%,#999999 50%,#999999 50%,#999999 50%,#e81919 100%);
  background: linear-gradient(to right, #109558 0%,#999999 50%,#999999 50%,#999999 50%,#e81919 100%);
  border-radius: 100px;
}

.slider-text-left {
  color: #109558;
  text-align: left;
}

.slider-text-right {
  color: #e81919;
  text-align: right;
}
/* ------------------------------------------------------------------------*/