/* top stage progress bar */
.stage-progress {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stage-progress ul {
  list-style-type: none;
}

.stage-progress ul li {
  display: inline-block;
  text-indent: -9999px;
  padding: 10px;
}

.stage-progress ul li a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background: #ddd;
  border: 1px solid #ddd;
}

.stage-progress ul li a.done {
  background: #2F3F92;
  border: 1px solid #2F3F92;
}

.stage-progress ul li a.active {
  background: #89CBC1;
  border: 1px solid #89CBC1;
}

/* Survey */
.survey-content {

}
.survey-image {
  min-height: 400px !important;
} 

.project-ai-logo {
  background: url("/assets/img/survey/logo.png") center center no-repeat;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 243px;
  height: 63px;
  color: transparent;
}

.type-survey {
  background: url("/assets/img/survey/survey.png") center center no-repeat;
  background-size: 35%;
}

.type-aboutme {
  background: url("/assets/img/survey/about_me.png") center center no-repeat;
  background-size: 35%;
}


.mt-xs {
  margin-top: 10px;
}


.mt-s {
  margin-top: 20px;
}

.mt-md {
  margin-top: 30px;
}

.mt-h {
  margin-top: 60px;
}

.mt-hl {
  margin-top: 80px;
}

.project-name {
  color: #2F3F92;
  font-size: 17px;
}

video {
  width: 100% !important;
  height: auto !important;
}


/* Component */
.anwser-select2 .select2-btn,
.anwser-select-n .select2-btn {
  width: 48%;
  display: inline-block !important;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #000;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1) !important;
  border-radius: 5px;
}

.anwser-select2 .select2-btn.active,
.anwser-select-n .select2-btn.active {
  display: inline-block !important;
  margin-bottom: 5px;
  margin-right: 5px;
  color: #fff;
  background: #2F3F92;
}

.anwser-select-n .select2-btn,
.anwser-select-n .select2-btn.active {
  width: 100% !important;
}

.btn-continue {
  line-height: 1.2 !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  height: 45px;
}

.btn-second {
  line-height: 1 !important;
  background: #2F3F92;
}

.no-results {
  background: #000;
  color: #fff;
  font-size: 13px;
  box-shadow: 0px 10px 15px 0px rgba(0,0,0,0.3);
  padding: 20px;
}

.no-results-header {
    display: block;
    margin-bottom: 20px;
    opacity: .5;
}