.wrapper {
	background-color: #fff;
	position: relative;
  color: gray;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
	.select {
		display: flex;
		justify-content: space-between;
    gap: 8px;
    align-items: center;
    .open {
      transform: rotate(-90deg);
      font-family: Poppins;
    }
    .close {
      transform: rotate(90deg);
      font-family: Poppins;
    }
	}
	.dropdown {
		position: absolute;
		top: 95%;
    left: 0;
    width: 100%;
    background-color: white;
	  border-radius: 8px;
    min-width: 140px;
    z-index: 10;
		.item {
			padding: 10px 16px;
			border: solid #eee;
      border-width: 0px 2px 2px 2px;
      &:first-child {
        border-width: 2px 2px 2px 2px;
      }
		}
	}
}