.root {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.topbar {
  width: 100%;
  height: 80px;

  .section {
    .page-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: #7eccbf;
      display: none;
    }

    .project-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: rgb(126, 204, 191);
    }
  }
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 0px 20px;
  box-sizing: border-box;
  margin-top: 20px;
}