.top-culture-result-root {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .item {
    padding: 8px 0px;
    box-sizing: border-box;
    font-size: 13px;
    width: 48%;
    margin-bottom: 20px;
    text-align: left;
  }

  .bar {
    height: 5px;
    margin-top: 5px;
    width: 100%;
    background: #ebecee;
    border-radius: 2px;
    
    .progress {
      height: 5px;
      border-radius: 2px;
    }
  }

  @media (max-width: 767px) {
    flex-direction: column;
    .item {
      width: 100%;
    }
  }
}