.description {
  font-family: Poppins;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  color: #000;
}
.modal {
  .input {
    margin-top: 20px;
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #eff0f6;
    font-family: Poppins;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6d6f94;
  }
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  .itemWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 18px;
    width: 100px;
    border-radius: 8px;
    border: solid 1px #dfe0eb;
    gap: 15px;
    .image {
      padding: 8.5px;
      border-radius: 8px;
      border: solid 1px #dfe0eb;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 31px;
        height: 31px;
      }
    }
    .description {
      font-family: Poppins;
      font-size: 11px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.18;
      letter-spacing: normal;
      text-align: center;
      color: #000;
    }
  }
  .add {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 18px;
    width: 100px;
    flex-direction: column;
    .plus {
      width: 49px;
      height: 49px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Montserrat;
      border-radius: 5px;
      background-color: #eff0f6;
      font-size: 21px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #62b5a6;
      cursor: pointer;
    }
    .text {
      font-family: Poppins;
      font-size: 12px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #62b5a6;
    }
  }
}