.alignRight {
  align-self: flex-end;
}

.horizontalWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  .individual {
    gap: 10px;
    display: flex;
    flex-grow: 1;
  }
  .total {
    display: flex;
    gap: 10px;
    flex-grow: 1;
  }
}

@media (max-width: 768px) {
  .horizontalWrapper {
    .individual {
      width: 100%;
    }
    .total {
      width: 100%;
    }
  }
}