.root {
  display: inline-block;
}

.dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #e9ecef;
  border-radius: 3px;
  margin-right: 7px;
  // opacity: 0.7;

  &.active {
    background: #3eabf6;
    opacity: 1;
  }
}

// .dot-mobile {
//   display: inline-block;
//   width: 6px;
//   height: 6px;
//   background: #5e7caf;
//   border-radius: 3px;
//   margin-right: 7px;
//   // opacity: 0.7;

//   &.active {
//     background: #fff;
//     opacity: 1;
//   }
// }