.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
}

.button {
  width: 250px;
  cursor: pointer;
}

.link {
  color: #00d2b1;
}

.error {
  color: #ce5b30;
  padding-left: 20px;
}