.root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;

  .project {
    width: auto;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    padding-left: 17px;

    .drawer-section {
      .drawer-toggle {
        display: none;
      }

      .title {
        font-size: 20px;
        line-height: 1.9;
        color: #1a1a1a;
        display: block;
        height: 40px;
        overflow: hidden;
        @media (max-width: 767px) {
          max-width: 75%;
          height: 40px;
        }
      }
    }
  }

  // .hide-icon-wrapper {
  //   position: fixed;
  //   width: 24px;
  //   height: 24px;

  //   svg {
  //     width: 24px !important;
  //     height: 24px;

  //     path {
  //       fill: #fff;
  //     }
  //   }
  // }

  .control {
    display: flex;
    flex: 1;
    flex-flow: row-reverse;
    height: 100%;

    .dropdown {
      height: 100%;
      display: flex;
      flex-flow: row;
      padding-right: 20px;
      cursor: pointer;

      .avatar {
        width: 40px;
        height: 40px;
        border-radius: 20px;
        margin-top: 20px;
      }

      .username {
        display: inline-block;
        margin-top: 34px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.38;
        color: #1a1a1a;
        margin-left: 12px;
        margin-right: 15px;
      }
    }

    .dropdown-menu {
      position: absolute;
      top: 82px;
      right: 0px;
      width: 150px;
      border-bottom-left-radius: 8px;
      background-color: #fff;
      border-bottom: 1px solid #ddd;
      border-left: 1px solid #ddd;
      box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;

      z-index: 300;

      > .dropdown-menu-item:not(:first-child) {
        border-top: 1px solid #ddd;
      }

      .dropdown-menu-item {
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        text-align: center;
        font-size: 14px;
        color: #1d1d1d;

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 10px;
            padding: 20px;
        }

        &:hover {
          background-color: #ccc;
        }
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  .root {
    .control {
      display: none;
    }

    .project {
      padding-top: 0px;
      padding-left: 19px;
      padding-right: 19px;
      margin-top: 30px;
      width: 100%;

      .drawer-section {
        .title {
          margin-left: 15px;
        }

        .drawer-toggle {
          -webkit-touch-callout: none;
          -webkit-user-select: none;
          -khtml-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          left: 8px;
          top: 38px;
          font-size: 20px;
          display: block;
          position: fixed;
          z-index: 1;
        }
      }
    }
  }
}
