.keythemes-table-root {
  width: 100%;

  .keythemes-table-header {
    width: 100%;
    display: flex;

    &-item {
      flex: 1;
      background: #e9eaf1;
      color: #000;
      padding: 5px 10px;
      font-weight: 600;
      margin: 2px;
      display: flex;
      align-items: center;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
  .keythemes-table-content {
    width: 100%;
    margin-top: 5px;

    &-mobile {
      display: none;
      border: 1px solid #eee;
      border-radius: 5px;
      box-sizing: border-box;
      padding: 10px;
      margin-bottom: 10px;

      &-key {
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 16px;
      }

      &-percent {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }

      &-barc {
        flex: 1;
      }

      &-bar {
        height: 24px !important;
        border-radius: 12px;
        margin-left: 20px;
      }

      &-action {
        display: flex;
        justify-content: space-between;
        
        img {
          height: 24px;
          width: 20px;
        }
      }

      &-vote {
        display: flex;
        align-items: center;

        span {
          padding-left: 10px;
        }
      }

      @media screen and (max-width: 768px) {
        display: block;
      }
    }

    &-row {
      width: 100%;
      display: flex;

      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &-col {
      flex: 1;
      margin: 2px;
      color: #3b4658;
      height: 60px;
      display: flex;
      align-items: center;
      padding: 0px 10px;

      img {
        margin-right: 12px;
        cursor: pointer;
      }

      &.odd {
        background: #eef0ef;
      }

      &.even {
        background: #badbd2;
      }
    }
  }

  .keythemes-table-percent-bar {
    height: 12px;
    background: #4a66ac;
  }
}