.root {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.topbar {
  width: 100%;
  background-color: white;
  height: 80px;

  .section {
    .page-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: #7eccbf;
      display: none;
    }

    .project-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: rgb(126, 204, 191);

      @media only screen and (max-width: 880px) {
        text-align: right;
        margin-top: -27px;
      }
    }
  }
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.content-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.content-col {
  flex: 1;
  box-sizing: border-box;
  margin: 20px;
}

.keytheme-tab-container {
  width: 100%;
  padding-bottom: 5px;
  overflow-x: auto;
}

.keytheme-tab-container::-webkit-scrollbar {
  height: 5px;
  border-radius: 2px;
}

.keytheme-tab-container::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 2px;
}

.keytheme-tab-container::-webkit-scrollbar-thumb {
  background-color: #6d6f94;
  border-radius: 2px;
}

.keythemes-tab-menu {
  display: flex;
  width: 990px;
}

.keythemes-tab-item {
  margin-right: 10px;
  background: transparent;
  padding: 8px;
  border-radius: 10px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #6d6f94;
  font-size: 15px;
  cursor: pointer;
  box-sizing: border-box;

  img {
    height: 22px;
    margin-right: 8px;
  }

  &.active {
    background: #62b5a6;
    color: #fff;
  }
}

.keythemes-content-wrapper {
  width: 100%;
  margin-top: 20px;
}

.keythemes-content-title {
  font-size: 24px;
  font-weight: 700;
  opacity: 0.9;
  margin-top: 10px;

  @media (max-width: 768px) {
    font-size:  16px;
  }
}

.keythemes-content {
  width: 100%;
  margin-top: 15px;
}

.keythemes-content-loading {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.keythemes-content-nodata {
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa
}