.root {
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.topbar {
  width: 100%;
  height: 80px;

  .section {
    .page-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: #7eccbf;
      display: none;
    }

    .project-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: rgb(126, 204, 191);
    }
  }
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.content-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}

.content-col {
  flex: 1;
  box-sizing: border-box;
  margin: 20px;
}

.keythemes-tab-menu {
  display: flex;
  width: 100%;

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

.keythemes-select-menu {
  display: none;
  width: 100%;
  height: 35px;
  
  @media screen and (max-width: 1024px) {
    display: block;
  }
}

.keythemes-tab-item {
  flex: 1;
  border-bottom: 1px solid transparent;
  margin-right: 10px;
  cursor: pointer;
  padding-left: 5px;

  &.active {
    border-bottom: 1px solid #9eadd3;
  }
}

.keythemes-content-wrapper {
  width: 100%;
  margin-top: 20px;
}

.keythemes-content-title {
  font-size: 1.1rem;
  font-weight: 700;
}

.keythemes-content {
  width: 100%;
  margin-top: 15px;
}

.keythemes-content-loading {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.keythemes-content-nodata {
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa
}