.map-container {
  width: 100%;
  min-height: calc(100vh - 118px);
  border-radius: 10px;
  background-color: #fff;
}

.map-header {
  display: flex;
  height: 37px;
  padding-top: 23px;
  border-bottom: 1px solid #eee;
  flex: 1;

  .map-title {
    display: flex;
    flex-direction: row;

    .icon {
      margin-left: 32px;
      display: inline-block;
      width: 23px;
      height: 19px;
      fill: #7eccbf;
    }
    .title {
      margin-left: 18px;
      font-size: 16px;
      font-weight: normal;
      line-height: 1.33;
      color: #6d6f94;
    }
  }
  .map-control {
    
  }
}

.map-content-section {

  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: calc(100vh - 188px);

  .map-content {
    width: 66.6666%;
    border-right: 1px solid #eee;
    height: 100%;
    box-sizing: border-box;
  }
  
  .map-stakeholder {
    width: 33.3334%;
    padding: 15px;
    height: 100%;
    box-sizing: border-box;
  }
}

@media only screen and (max-width: 630px) {
  .map-content-section {

    flex-flow: column;
    
    .map-content {
      width: 100%;
      border-right: none;
    }
    
    .map-stakeholder {
      width: 100%;
    }
  }
}