$progress-width: 50px;
$progress-height: 50px;

$progress-inner-width: 85%;
$progress-inner-height: 85%;

$img-inner-width: 70%;
$img-inner-height: 70%;

$icon-inner-width: 55%;
$icon-inner-height: 55%;
