.avatar-component {
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;

  display: flex;

  >*:not(:first-child) {
    margin-left: 20px;
  }
}

.avatar-panel {
  .avatar-comp {
    background: white;
    padding: 21px;

    &:not(:first-child) {
      margin-top: 10px;
    }
  }

}

.info {
  flex: 1;
}

.avatar {
  @import "./avatar_vars";
  width : $progress-width;
  height : $progress-height;
  position: relative;

  img {
    border-radius: 50%;
    width: $img-inner-width;
    height: $img-inner-height;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }

  .progress {
    width: 100%;
    height: 100%;
  }

  }

  .open {
    font-size: 20px;
    color: black;
  }

  .username {
    font-weight: bold;
    color: rgb(26, 26, 26);
  }