.avatar-component {
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;

  display: flex;

  >*:not(:first-child) {
    margin-left: 20px;
  }
}

.avatar-panel {
  .avatar-comp {
    background: white;
    padding: 21px;
    &:not(:first-child) {
      margin-top: 10px;
    }
  }

}

.info {
  flex: 1;
}

.avatar {
  border: 2px solid silver;
  padding: 5px;
  border-radius: 50%;
  height: min-content;
  img {
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
}

.open {
  font-size: 20px;
  color: black;
}

.username {
  font-weight: bold;
  color: rgb(26, 26, 26);
}