$color: rgb(26, 26, 26);
$comment-color: rgb(119, 120, 133);
$editable-color: rgb(16, 122, 239);

@mixin round {
  box-sizing: border-box;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
}

.main {
  color: $color;
  display: flex;
  input {
    background: none;
    &:focus {
      outline: none;
    }
  }
  > div:not(:first-child) {
    margin-left: 20px;
  }
  &.editable {
    color: $editable-color;
    input {
      &::placeholder {
        color: $editable-color !important;
      }
    }
  }
}

.data {
  flex: 1;
  display: flex;
  flex-direction: column;
  > *:not(:first-child) {
    margin-top: 10px;
  }
}

.bullet {
  @include round;
  margin-top: 2px;
  width: 20px;
  height: 20px;
  position: relative;
  &::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    @include round;
  }
}

.topic {
  font-size: 16px;
  font-weight: bold;
}

.comment {
  font-size: 14px;
  color: $comment-color;
}