.root {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.link {
  margin-top: 0px;
  margin-left: 0px;
  width: 100%;

  .nav {
    width: 100%;
    display: flex;
    flex-flow: row;
    list-style-type: none;
    padding: 0px;

    &--item {

      display: inline-block;
      padding-top: 5px;
      padding-bottom: 0px;
      flex: 1;
      text-align: center;
        

      &--link {
        font-size: 11px;
        color: rgb( 119, 120, 133);
      }
    }
  }
}