.main {
  overflow: hidden;
}

svg {
  display: block;
}

.pie {
  cursor: pointer;

  &:hover {
    stroke: none;
    stroke-width: 2px;
  }
}

.eye {
  &.sad {
    fill: grey;
  }

  &.happy {
    fill: #7fcdc1;
  }
}

.face {
  stroke-linecap: round;

  path {
    fill: none;
  }

  path.sad {
    stroke: grey;
  }

  path.happy {
    stroke: #7fcdc1;
  }
}