$center-color: #f8f8f8 !default;
$empty-color: #fff !default;

$fillStart: #e66864 !default;
$fillEnd: #00b7a2 !default;
$fillMid: #53a7f5 !default;

$progress-width: 200px !default;
$progress-height: 200px !default;
$progress-inner-width: 80% !default;
$progress-inner-height: 80% !default;

.main {
  position: relative;
  width: $progress-width;
  height: $progress-height;

  &.smooth {
    // background: conic-gradient($fillStart, $fillMid, $fillEnd);
    background: $fillStart;
  }

  &.low {
    background: $fillStart;
  }

  &.medium {
    background: $fillMid;
  }

  &.high {
    background: $fillEnd;
  }

  border-radius: 50%;
}

.center-mask {
  position: absolute;
  width: $progress-inner-width;
  height: $progress-inner-height;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $center-color;
}

.mask-greater-than-180 {
  position: absolute;
  width: 100%;
  height: 100%;
  background: $empty-color;
  border-radius: 50%;
  clip: rect(0, #{$progress-width / 2}, $progress-height, 0);
}

.slider-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;

  &.clip360overflow {
    clip: rect(0, #{$progress-width / 2}, $progress-height, 0);
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, $progress-width, $progress-height, #{$progress-width / 2});
    background: $empty-color;
  }
}
