.root {
  display: flex;
  flex-direction: row;
  width: auto;
  min-height: 100%;
  background-color: #212529;
  box-sizing: content-box;
}

.logo {
  width: 108px;
  height: 53px;
  margin-top: 21px;
  margin-left: 40px;
  background: url(/assets/img/login/projecai-logo.png);
  background-size: cover;
  display: inline;
  flex-shrink: 0;
}

.main-menu {
  width: 224px;
  padding-bottom: 30px;
  background-color: #212529;
  height: 100vh;
  .main-menu-wrapper {
    display: flex;
    flex-direction: column;
    scrollbar-color: #77c8bb #aaa;
    height: 100vh;
    scrollbar-width: thin;
    overflow: auto !important;
    overflow-x: hidden !important;
    &::-webkit-scrollbar {
      width: 5px;
      background-color: #aaa;
    }
    &::-webkit-scrollbar-thumb {
      background: #77c8bb;
    }
    .menuItem {
      border-radius: 10px;
      background-color: rgba(139, 144, 161, 0.13);
      margin-right: 20px;
    }
  }
}

.link {
  margin-top: 21px;
  // margin-left: 40px;
}

/* Customizing Menu Style */

// .pro-sidebar {
//   .pro-menu {
//     .pro-menu-item {
//       &.pro-sub-menu {
//         .pro-inner-list-item {
//           &:before {
//             content: "";
//             display: inline-block;
//             width: 0px !important;
//             min-width: 0px !important;
//             height: 4px;
//             border: 1px solid hsla(0, 0%, 100%, 0.05);
//             border-radius: 50%;
//             margin-right: 15px;
//             position: relative;
//             box-shadow: 1px 0 0 #adadad, 0 -1px 0 #adadad, 0 1px 0 #adadad,
//               -1px 0 0 #adadad;
//           }
//         }
//       }
//     }
//   }
// }
// .pro-inner-item {
//   &:before {
//   }
// }

/* Old Menu */
.space {
  display: flex;
  flex-grow: 1;
}
