.fixed-background {
    background: url('/assets/img/survey/bg-login.jpg') no-repeat center center fixed !important;
    background-size: 100% 100% !important;
  }
  .auth-card {
      .form-side  {
        padding: 50px 30px !important;
      }
      .image-side {
        padding: 20px !important;
        text-align: center;
      }
  }