
.d-inline-block {
    .pulse {
        padding-left: 20px;
    }
}
.main-menu, .sub-menu {
    top: 60px !important;
    height: calc(100% - 60px) !important;

    ul {
        li {
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}
