
.d-inline-block {
    .pulse {
        padding-left: 20px;
    }
}

@media screen and (max-width: 430px) {
    .d-inline-block {
        font-size: 70%;
        .pulse {
            padding-left: 10px;
        }
    }
}
.main-menu, .sub-menu {
    top: 60px !important;
    height: calc(100% - 60px) !important;

    ul {
        li {
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

main {
    margin-top: 60px !important;
}