.login-container {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  min-height: 100vh;
  font-family: Poppins !important;

  * {
    font-family: Poppins !important;
  }

  @media screen and (max-width: 768px) {
    &__left {
      width: 100% !important;
    }

    &__right {
      width: 100% !important;
    }
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100vh;
    background-color: #212529;
    background-image: url('/assets/img/login/projecai-logo.png');
    background-repeat: no-repeat;
    background-position: 40px 24px;
    background-attachment: fixed;
    background-size: 104px 53px;

    &__logo {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;

      &--img {
        margin-left: 15%;
        width: 70%;
      }

      &--title {
        font-size: 39px !important;
        margin-top: 44px;
        color: #fff;
        line-height: 1.87;
        font-weight: 600;
        padding: 0px;
        margin-bottom: 0px;
      }

      &--description {
        color: #faf9f9;
        line-height: 1.77;
        font-weight: 500;
        font-size: 13px;
        margin-top: 12px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    min-height: 100vh;

    &--login-panel {
      display: flex;
      flex-direction: column;
      width: 64%;
      margin-left: 18%;

      &--title {
        font-size: 22px;
        font-weight: 500;
        line-height: 1.73;
        color: #141c3a;
      }

      &--error {
        display: inline-block;
        margin-top: 39px;
        font-size: 14px;
        font-weight: normal;
        line-height: 2.71;
        color: #ce5b30;
      }

      &--field-label {
        font-size: 14px;
        font-weight: 500;
        line-height: 2.64;
        color: #292a30;
        margin-top: 21px;
      }

      &--field-input {
        margin-top: 18px !important;
      }

      .forgot-password {
        margin-top: 12px;
        font-size: 14px;
        font-weight: normal;
        line-height: 2.71;
        letter-spacing: normal;
        color: #00d2b1;

        &:hover {
          color: #78c8ba;
        }
      }

      &--submit {
        margin-top: 61px;
        width: 182px;
      }
    }
  }
}