.login-container {
  display: flex;
  flex-flow: row wrap;
  width: 100vw;
  min-height: 100vh;
  font-family: Poppins !important;

  * {
    font-family: Poppins !important;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    height: 100vh;
    background-color: #212529;
    background-image: url("/assets/img/login/projecai-logo.png");
    background-repeat: no-repeat;
    background-position: 40px 24px;
    background-attachment: fixed;
    background-size: 104px 53px;

    &__logo {
      display: flex;
      flex-direction: column;
      width: 100%;
      text-align: center;

      &--img {
        margin-left: 15%;
        width: 70%;
      }

      &--title {
        font-size: 39px !important;
        margin-top: 44px;
        color: #fff;
        line-height: 1.87;
        font-weight: 600;
        padding: 0px;
        margin-bottom: 0px;
      }

      &--description {
        color: #faf9f9;
        line-height: 1.77;
        font-weight: 500;
        font-size: 13px;
        margin-top: 12px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 50%;
    min-height: 100vh;

    &--login-panel {
      display: flex;
      flex-direction: column;
      width: 76%;
      margin-left: 12%;
      box-sizing: border-box;
      
      .title {
        font-size: 27px;
        line-height: 32px;
        font-weight: 700;
        color: #141c3a;
        text-align: center;
      }

      .sub-title {
        font-size: 16px;
        line-height: 14px;
        color: rgb(77, 77, 77);
        text-align: center;
        text-align: center;
        padding-top: 12px;
      }

      .password-wrapper {
        width: 100%;

        .login-eye {
          position: absolute;
          margin-top:20px;
          right: 0px;
          margin-right: 7.7%;
          cursor: pointer;

          @media screen and (max-width: 768px) {
            margin-right: 13.7%;
          }

          @media screen and (max-width: 430px) {
            margin-right: 13.7%;
          }

          @media screen and (max-width: 400px) {
            margin-right: 14%;
          }

          @media screen and (max-width: 320px) {
            margin-right: 16%;
          }
        }
      }

      &--error {
        display: inline-block;
        margin-top: 39px;
        font-size: 14px;
        font-weight: normal;
        line-height: 2.71;
        color: #ce5b30;
      }

      &--field-label {
        font-size: 14px;
        font-weight: 500;
        line-height: 2.64;
        color: #292a30;
        margin-top: 21px;
      }

      &--field-input {
        margin-top: 18px !important;
      }

      .forgot-password {
        margin-top: 32px;
        font-size: 14px;
        font-weight: normal;
        line-height: 2.71;
        letter-spacing: normal;
        color: #00d2b1;
        text-align: center;

        &:hover {
          color: #78c8ba;
        }
      }

      &--submit {
        margin-top: 41px;
        width: 100%;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__left {
      width: 100% !important;
    }

    &__right {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 430px) {
    &__left {
      &__logo {
        &--title {
          font-size: 28px !important;
        }
      }
    }
  }
}
