
.d-inline-block {
    .pulse {
        padding-left: 20px;
    }
}

.dropdown-item {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
    line-height: 40px !important;
}

.h-title {
    display: inline-block;
    padding: 35px 10px 15px 0px;
    font-size: 1.75rem !important;
}

@media screen and (max-width: 430px) {
    .d-inline-block {
        font-size: 70%;
        .pulse {
            padding-left: 10px;
        }
    }
}
.main-menu, .sub-menu {
    top: 60px !important;
    height: calc(100% - 60px) !important;

    ul {
        li {
            a {
                img {
                    width: 25px;
                    height: 25px;
                }
            }
        }
    }
}

main {
    margin-top: 60px !important;
}