@import url(//fonts.googleapis.com/css?family=Poppins);

@import "_custom_login.scss";
@import "_custom_welcome.scss";

body {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
  overflow-x: hidden !important;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

.panel {
  background-color: #fff;
  padding: 28px 36px;
  border-radius: 10px;
  box-sizing: border-box;

  .title {
    color: #1a1a1a;
    font-size: 21px;
    line-height: 1.38;
  }
}

.row {
  width: 100%;
}

#root {
  height: 100vh;
}