@import url(//fonts.googleapis.com/css?family=Poppins);

@import "_custom_login.scss";
@import "_custom_welcome.scss";

body {
  padding: 0px;
  margin: 0px;
  font-family: Poppins;
  overflow-x: hidden !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0px;
  padding: 0px;
}

.panel {
  background-color: #fff;
  padding: 28px 36px;
  border-radius: 10px;
  box-sizing: border-box;

  .title {
    color: #1a1a1a;
    font-size: 21px;
    line-height: 1.38;
  }
}

.row {
  width: 100%;
}

#root {
  height: 100vh;
}

.control-fluid {
  padding: 0px;
}

// .pro-sidebar
//   .pro-menu
//   .pro-menu-item.pro-sub-menu
//   .pro-inner-list-item
//   .pro-inner-item:before {
//   content: "";
//   display: inline-block;
//   width: 4px;
//   min-width: 4px;
//   height: 4px;
//   border: 1px solid red;
//   border-radius: 50%;
//   margin-right: 15px;
//   position: relative;
//   box-shadow: 1px 0px 0px #adadad, 0px -1px 0px #adadad, 0px 1px 0px #adadad,
//     -1px 0px 0px #adadad;
// }

// .trend-line-chart {
//   rect {
//     fill: #e9eaf1;
//   }
// }

.notification-container {
  bottom: 100px !important;
  right: 50px !important;
  top: unset !important;
}

.flex-row-flow {
  display: flex;
  flex-flow: row wrap;
}

#charts-feedback-summary_ChartBorder {
  fill: #f5f5f5 !important;
}

#charts-overall-trend_ChartBorder {
  fill: #f5f5f5 !important; 
}