.root {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.topbar {
  background-color: white;
  width: 100%;
  height: 80px;

  .section {
    .page-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: #7eccbf;
      display: none;
    }

    .project-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: rgb(126, 204, 191);

      @media only screen and (max-width: 880px) {
        text-align: right;
        margin-top: -27px;
      }
    }
  }
}

.main-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;

  @media screen and (max-width: 1024px) {
    flex-direction: column;
  }
}

.content-chart {
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-right: 20px;

  &-tab {
    display: flex;
    margin-bottom: 20px;

    &-item {
      margin-right: 20px;
      border-bottom: 2px solid transparent;
      padding: 0px 5px 5px;
      cursor: pointer;

      &.active {
        border-bottom: 2px solid #d5dcec;
      }
    }
  }

  &-content {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    padding: 30px;
  }

  &-loading {
    margin-top: 150px;
  }
}

.content-control {
  margin-left: 15px;
  width: 400px;
  padding-top: 60px;

  &-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    box-sizing: border-box;

    &-label {
      font-size: 12px;
      color: red;
    }

    &-value {
      width: 80% !important;
      height: 40px;
    }

    .content-control-filter {
      display: flex;

      &-title {
        font-size: 13px;
        width: 100px;
      }

      &-content {
        flex: 1;

        .filter-chipset {
          margin-right: 4px;
          font-size: 12px;
          cursor: pointer;
          margin-bottom: 4px;
          min-width: 50px;
        }
      }
    }
  }
}
