.root {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 19px;
  background-color: #eff1f4;
  box-sizing: border-box;
}

.driver-scroll {
  width: calc(100vw - 262px);
  
  .driver-section {
    height: 97px;
    overflow: hidden;
  }
}

.survey-container {
  width: 80%;
  margin-left: 10%;
}


@media only screen and (max-width: 630px) {
  .driver-scroll {
    width: calc(100vw - 38px);
  }
}