.root {
  width: 100%;
  background-color: #eff1f4;
}

.topbar {
  position: fixed;
  top: 0px;
  left:225px;
  width: calc(100% - 224px);
  height: 80px;
  z-index: 300;

  .section {
    .page-title {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: #7eccbf;
      display: none;
    }

    .project-name {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.19;
      color: rgb(126, 204, 191);
    }
  }
}

.main-content {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 19px;
  box-sizing: border-box;
}

.driver-scroll {
  width: calc(100vw - 262px);
  
  .driver-section {
    position: fixed;
    left: 244px;
    top: 80px;
    padding-top: 19px;
    z-index: 300;
    width: calc(100vw - 281px);
    height: 87px;
    overflow: hidden;
    background-color: #eff1f4;
  }
}

.survey-container {
  width: 80%;
  margin-left: 10%;
  padding-top: 186px;
}

.d-none {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .survey-container {
    width: 90%;
    margin-left: 5%;
  }
}

@media only screen and (max-width: 880px) {
  .topbar {
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 300;
    width: 100%;
  }

  .driver-scroll {
    width: calc(100vw - 38px);

    .driver-section {
      position: fixed;
      left: 19px;
      top: 100px;
      height: 120px;
      width: calc(100% - 38px);
    }
  }

  .survey-container {
    width: 100%;
    margin-left: 0px;
    padding-top: 210px;
    padding-bottom: 80px;
  }
}