.main {
  overflow: hidden;
}

svg {
  display: block;
}

.pie {
  cursor: pointer;

  &:hover {
    stroke: none;
    stroke-width: 2px;
  }
}

.title {
  fill: #212529;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.sub-title {
  fill: #212529;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}

.eye {
  &.sad {
    fill: #212529;
  }

  &.happy {
    fill: #212529;
  }
}

.face {
  stroke-linecap: round;

  path {
    stroke-linejoin: round;
    fill: none;
  }

  path.sad {
    stroke: grey;
  }

  path.happy {
    stroke: #7fcdc1;
  }
}

#tooltip {
    position: absolute;
    width: 117px;
    height: 66px;
    flex-grow: 0;
    padding: 13px 14px;
    border-radius: 4px;
    background-color: #273645;
    pointer-events: none;
    &.hidden {
      opacity: 0;
    }
    p {
      margin: 0px;
      &.count {
        font-family: Poppins;
        font-size: 25px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.6;
        letter-spacing: -0.64px;
        color: white;
        opacity: 1;
      }
    }
    #value {
      font-family: Poppins;
      font-size: 25px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.6;
      letter-spacing: -0.64px;
      color: white;
    }
    #description {
      font-family: Poppins;
      font-size: 13px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
    }
}