.main {
  overflow: hidden;
}

svg {
  display: block;
}

.pie {
  cursor: pointer;

  &:hover {
    stroke: none;
    stroke-width: 2px;
  }
}

.title {
  fill: #212529;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.sub-title {
  fill: #212529;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
}

.eye {
  &.sad {
    fill: #212529;
  }

  &.happy {
    fill: #212529;
  }
}

.face {
  stroke-linecap: round;

  path {
    stroke-linejoin: round;
    fill: none;
  }

  path.sad {
    stroke: grey;
  }

  path.happy {
    stroke: #7fcdc1;
  }
}
